<app-monitor-control></app-monitor-control>
<tabset #tabSet>
  <tab *ngFor="let tab of tabs; let i = index" [heading]="tab.heading">
    <ng-container *ngIf="tabSet.tabs[i].active">
      <app-observable-monitor name="observableA" [observable]="observableA$" [autoSub]="autoSub"></app-observable-monitor>
      <app-observable-monitor name="observableB" [observable]="observableB$" [autoSub]="autoSub"></app-observable-monitor>
      <app-observable-monitor [name]="tab.heading" [observable]="tab.observable" [autoSub]="autoSub"></app-observable-monitor>
    </ng-container>
  </tab>
</tabset>
