<nav class="nav">
  <a class="nav-link" routerLink="/observable" routerLinkActive="active">Observable</a>
  <a class="nav-link" routerLink="/subject" routerLinkActive="active">Subject</a>
  <a class="nav-link" routerLink="/operator" routerLinkActive="active">Operator</a>
  <a class="nav-link" routerLink="/hot" routerLinkActive="active">Cold & Hot</a>
  <a class="nav-link" routerLink="/multiple" routerLinkActive="active">Multiple</a>
  <a class="nav-link" routerLink="/high-order-map" routerLinkActive="active">High Order Map</a>
  <a class="nav-link" routerLink="/high-order" routerLinkActive="active">High Order</a>
  <a class="nav-link" routerLink="/error-handle" routerLinkActive="active">ErrorHandle</a>
</nav>
