<template [ngIf]="!inner">
  <h3>{{name}}</h3>
  <button class="btn btn-primary" (click)="observe()" [disabled]="buttonDisabled$ | async">{{buttonText$ | async}}</button>
  <span *ngIf="!highOrder">value: {{subject$ | async}}</span>
</template>
<div class="value-monitor" [class.high-order]="highOrder" [class.inner-observable]="inner">
  <template ngFor let-value [ngForOf]="monitor$ | async">
    <span class="time" *ngIf="value?.type === monitorType.TIMER"
          [class.subscribe]="value.status === monitorType.SUBSCRIBE"
          [class.unsubscribe]="value.status === monitorType.UNSUBSCRIBE"
          [class.complete]="value.status === monitorType.COMPLETE"
          [class.error]="value.status === monitorType.ERROR">.</span>
    <span class="value" *ngIf="value?.type === monitorType.VALUE">{{value.value}}</span>
    <span [ngClass]="['inner', 'level' + value.level]" *ngIf="value?.type === monitorType.INNER">
      <observable-monitor [observable]="value.value" [inner]="true"></observable-monitor>
    </span>
  </template>
</div>
