:host {
  display: block;
}

.value-monitor {
  padding: 8px 0;
  position: relative;
  font-size: 0;

  .value {
    position: absolute;
    top: 10px;
    height: 24px;
    padding: 2px 12px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 12px;
    transform: translateX(-50%);
    background: #fff;
    font-size: 12px;
  }

  .value + .value {
    top: 22px;
  }

  .value + .value + .value {
    top: 34px;
  }

  .time {
    color: #999;
    height: 52px;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height: 24px;

    &.subscribe {
      color: #856404;
      background: #fff3cd;
    }

    &.unsubscribe {
      color: #721c24;
      background: #f8d7da;
    }

    &.complete {
      color: #155724;
      background: #d4edda;
    }
  }
}
