:host {
  display: block;
}

.value-monitor {
  height: 78px;
  padding: 8px 0;
  position: relative;
  font-size: 0;

  &.high-order {
    height: 128px;

    .time {
      height: 28px;
    }

    .inner {
      position: absolute;

      &.level1 {
        top: 28px;
      }
      &.level2 {
        top: 56px;
      }
      &.level3 {
        top: 84px;
      }
    }
  }

  &.inner-observable {
    height: 28px;
  }

  .value {
    position: absolute;
    top: 10px;
    height: 24px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 12px;
    transform: translateX(-50%);
    background: #fff;
    font-size: 10px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      z-index: 100;
      border-color: #00ADEF;
    }
  }

  .value + .value {
    top: 27px;
  }

  .value + .value + .value {
    top: 44px;
  }

  .time {
    color: #999;
    height: 62px;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height: 24px;

    &.subscribe, &.unsubscribe {
      color: #856404;
      background: #fff3cd;
    }

    &.error {
      color: #721c24;
      background: #f8d7da;
    }

    &.complete {
      color: #155724;
      background: #d4edda;
    }
  }
}
