<h3>{{name}}</h3>
<button (click)="observe()" [disabled]="buttonDisabled$ | async">{{buttonText$ | async}}</button>
<span>value: {{subject$ | async}}</span>
<div class="value-monitor">
  <template ngFor let-value [ngForOf]="monitor$ | async">
    <span class="value" *ngIf="value?.type === monitorType.VALUE">{{value.value}}</span>
    <span class="time" *ngIf="value?.type === monitorType.TIMER"
          [class.subscribe]="value.status === monitorType.SUBSCRIBE"
          [class.unsubscribe]="value.status === monitorType.UNSUBSCRIBE"
          [class.complete]="value.status === monitorType.COMPLETE"
          [class.error]="value.status === monitorType.ERROR">.</span>
  </template>
</div>
